<form method="post" action="{{ path('film_delete', {'id': film.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ film.id) }}">
    <button class="btn btn-primary m-3">Supprimer film</button>
</form>
