{% extends 'base.html.twig' %}

{% block title %}Les Acteurs
{% endblock %}

{% block body %}
	<h1 class="display-1 text-center my-5">Liste des acteurs
	</h1>
	<div class="container">
		{% if app.user %}
			<a class="btn btn-primary my-5" href="{{ path('actor_new') }}">Ajouter un acteur</a>
		{% endif %}
	</div>
	<div class="container">
		<div class="row">
			{% for actor in actors %}
				<div class="col-lg-4 col-md-6">
					<div class="card ">
						<div class="card-body bg-primary rounded p-0">
							<div class="list-group text-center">
								<a href="{{ path("actor_show", { slug: actor.slug }) }}" class="list-group-item list-group-item-action active">
									{{ actor.name }}
								</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				Aucun acteur trouvée.
			{% endfor %}
		</div>
	</div>
{% endblock %}
