{% extends 'base.html.twig' %}

{% block title %}Ajouter un acteur
{% endblock %}

{% block body %}
	<h1 class="text-center my-4">Ajouter un acteur</h1>
	<div class="container">
		{{ include('actor/_form.html.twig') }}
	</div>
	<a class="btn btn-outline btn-secondary" href="{{ path('actor_index') }}">Retour à la liste des acteurs</a>
{% endblock %}
