@import "custom";
@import "actor.scss";
@import "indexHome.scss";
@import "indexFilm.scss";
@import "showFilm.scss";
@import "newFilm.scss";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: $secondary;
    background-image: url('/assets/images/blood.svg');
}

.img_homepage {
    background-image: url('/assets/images/ecran-halloween.jpg')
}