<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-secondary mx-2" href="{{ path('index') }}">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ path('film_index') }}">Film</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Réalisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ path('actor_index')}}">Acteur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ path('film_new') }}">Ajouter</a>
      </li>
    </ul>
    <form class="form-inline m-3 m-lg-3 d-flex justify-content-between">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0 text-secondary" type="submit">Search</button>
    </form>
  </div>
</nav>