{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ encore_entry_link_tags('app') }}

{% endblock %}
{% block title %}DVDtheque
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}
<img src={{ asset('images/images.collecdvd.jpg')}} alt="image collection dvd" width=100%>
	<h1>{{ DVDtheque }}</h1>

{% endblock %}