{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ encore_entry_link_tags('app') }}

{% endblock %}
{% block title %}DVDtheque
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}
	<img src={{ asset('build/images/collecdvd.jpg')}} alt="image collection dvd" width="100%">
	<h1 class="display-1 text-center">{{ DVDtheque }}</h1>

	<div class="container">
		<div class="row">
			<div class="card" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Film</li>
					<li class="list-group-item">Ajouter</li>
					<li class="list-group-item">#</li>
				</ul>
			</div>
			<div class="col">
				1 of 2
			</div>
			<div class="col">
				2 of 2
			</div>

		</div>
		<div class="row">
			<div class="col">
				1 of 2
			</div>
			<div class="col">
				2 of 2
			</div>
		</div>
	</div>
{% endblock %}
