<form method="post" action="{{ path('director_delete', {'id': director.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ director.id) }}">
    <button class="btn btn-danger m-2">{% include('icon/trash3.svg')%}Supprimer</button>
</form>
