{% extends 'base.html.twig' %}

{% block title %}Ajouter réalisateur
{% endblock %}

{% block body %}
	<h1 class="display-1 text-center my-5">Ajouter un réalisateur</h1>
	<div class="container">
		<div class=" bg-secondary rounded p-3">
			{{ include('director/_form.html.twig') }}
		</div>
	</div>
	<a class="btn btn-outline btn-secondary m-5" href="{{ path('director_index') }}">Retour à la liste des réalisateurs</a>
{% endblock %}
